body {
    height: 100%;
    overflow-y: hidden;
    border: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;


}
.left{
    width: 5vw;
    background-color: black;
}
.maincontainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.imgcontainer {
    position: relative;

}


.image-text {
    position: absolute;
    font-size: 15px;
    color: white;
    bottom: 0px;
    right: 5px;
}
.image-text a:visited {
    color: white;
}

.tree {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 100vh;
    min-width: 640px;
}

.right {
    width: 5vw;
    background-color: black;
}

form {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(2,1fr);
}

input[id="firstName"] {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

label[for="lastName"] {
    grid-row: 1 / 2 ;
    grid-column: 2 / 3;
}

input[id="email"] {
    grid-row: 4/5;
}

input[id="password"] {
    grid-row: 6/7;
}

