
body {
    height: 100%;
    overflow-y: hidden;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    border-radius: 5px; 
    border-width: 1px; 
    box-shadow: none;
    outline-style: none;  
    border-style:solid;    
    padding: 5px;
}

input:hover {
}

input:focus {
    border-color: rgb(42, 104, 165); 
    border-width: 1px; 
}

input:focus:invalid {
    border-color: red ;
    border-width: 1px;
}

input:user-invalid {
    border-color: red;
    border-width: 1px;
}

input:focus:valid {
    border-color: green;
    border-width: 1px;
}

.container {
    display: flex;
    flex-direction: row;


}
.left{
    width: 30vw;
    background-color: black;
}
.maincontainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
}

.imgcontainer {
    position: relative;

}


.image-text {
    position: absolute;
    font-size: 15px;
    color: white;
    bottom: 0px;
    right: 5px;
}
.image-text a:visited {
    color: white;
}

.tree {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 100vh;
    min-width: 640px;
}

.right {
    width: 30vw;
    background-color: black;
}

.formcontainer {
    display: flex;
    margin-right: 350px;
    flex-flow: column;
    justify-content: center;
    margin-left: 100px;
}

form {
    display: grid;
    grid-template-rows: repeat(3,1fr 2px 1fr 2fr);
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    /*bcz hard to change rows gap.so add 1row to manage it.*/
    grid-template-areas:  
    "firstName lastName"        
    ". ."
    "firstNameinput lastNameinput"
    ". ."
    "email phoneNumber"
    ". ."
    "emailinput phoneNumberinput"
    ". ."
    "password confirmPassword"
    ". ."
    "passwordinput confirmPasswordinput"
    ". ."
    ;
}
input[id="firstName"]{
    grid-area: firstNameinput;
}
input[id="lastName"]{
    grid-area: lastNameinput;            
}
input[id="email"]{
    grid-area: emailinput;
}
input[id="phoneNumber"]{
    grid-area: phoneNumberinput;
}
input[id="password"] {
    grid-area: passwordinput;
}
input[id="confirmPassword"]{
    grid-area: confirmPasswordinput;
}
label[for="firstName"] {
    grid-area: firstName;
}
label[for="lastName"] { 
    grid-area: lastName;    
}label[for="email"] {
    grid-area: email;
}label[for="phoneNumber"] {
    grid-area: phoneNumber;
}label[for="password"] {
    grid-area: password;
}label[for="confirmPassword"] {
    grid-area: confirmPassword;
}

.top {
    height: 200px;
}

.mid {

}

.bottom {
    
}